.hero {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 2rem;
}

@media (max-width: 768px) {
  .hero {
    padding: 1.5rem 1.5rem;
  }
}

@media (max-width: 640px) {
  .hero {
    padding: 1rem 1rem;
  }
}
